body {
    background-image: url(../images/subtle_white_mini_waves.png);
    padding: 0;


   
}

nav {
    height: 100px;
    width: 100%;
    background-image: url(../images/footer_lodyas.png);
}


#pic_of_me{
    width: 200px;
    height: 200px;
    padding: 10px;
    float: left;
    


    }
ul li{
    list-style: none;
    display: inline-block;
    line-height: 100px;
    padding: 0 20px;

}

li{
    float: right;
}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: white;

}
.name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: black;
    margin-top: 0;
    margin-left: 60px;
    float: left;
    color: white;
    padding: 6px;
    margin-left: 430px;
   
}

#about_me {
    background-image: url(../images/footer_lodyas.png);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    padding: 40px;
    margin: auto;
    line-height: 30px;
    border: 3px solid;
    
   
   
}


.navigation{
    float: right;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 500px;



}

.about,
.portfolio,
.contact{
    padding-right: 20px;
}

footer{
    text-align: center;
    background-image: url(../images/footer_lodyas.png);
    color: white;
    padding: 20px;
    margin: auto;
}

#main-content{
    background-image: url(../images/footer_lodyas.png);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 1024px;
    padding: 30px;
    margin: auto;
}

.message {
    height: 100px;
}

#name {
    background-image: url(../images/footer_lodyas.png);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin-top: 0;
    margin-left: 60px;
    padding: 20px;
    width: 50%;
    float: left;
    text-align: center;


}

#contact{
    position: static;
  
}

#Nav{
    float: right;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 500px;

}

#portfolio{
    background-image: url(../images/footer_lodyas.png);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 1024px;
    padding: 30px;
    margin: auto;
    

}
.photo{
    width: 300px;
    height: 250px;
    padding: 10px;
    position: relative;

}

.pic1,
.pic2,
.pic3,
.pic4,
.pic5,
.pic6 {
    position: fixed;
    z-index: 2;

}

.nightlife{
    background-image: url(../images/NightLife.jpg);
}

.Nightlife{
    z-index: 3;
    background-image: url(../images/footer_lodyas.png);
    
}










