body {
    background-image: url(../images/subtle_white_mini_waves.png);
    width: fit-content;
    margin: 0;
    padding: 0;
   
}

#pic_of_me{
    width: 250px;
    height: 250px;
    float: left;
    padding: 20px;

    }

.name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border-style: solid;
    background-color: black;
    color: white;
    margin-top: 0;
    margin-left: 60px;
    padding: 20px;
    width: 250px;
   
}

#about_me {
    background-image: url(../images/footer_lodyas.png);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    height: 450px;
    margin: 80px;
   
   
}

.about,
.portfolio,
.contact{
    float: right;
    margin-top: 0;
    margin-left: 20px;

}







